/*body {
  overflow: scroll;    don't know how to do this without having two big scrollbars
}*/
/*Header Heading*/
h1 {
  font-family: Verdana;
  font-size: 14px;
  color: MediumAquamarine;
  padding-left: 15px;
}
/*Header Navigation*/
nav {
  display: inline-block;
  justify-content: space-around;
  padding-right: 50px;
}
/*Navigation Links*/
a {
  padding-left: 20px;
  color: black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
/*Main Story Titles*/
h2 {

}
/*Image Story Title*/
h3 {

}
/*Text Story Title*/
h4 {

}
/*Header Container*/
.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  margin: -9px 0 0 -9px;
  padding: 10px;
  align-items: center;
  width: 100%;
  border: 1px solid black;
}
/*Header Logo*/
.headerlogo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
/*Header Offset*/
.headerspace {
  height: 82px;
}
/*Main Content Container*/
.container {
  border: 1px solid red;      /*NOTE REMOVE BORDER*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}
/*Content Columns*/
.column {
  border: 1px solid red;      /*NOTE REMOVE BORDER*/
  flex-flow: column nowrap;
  margin: 15px;
}
/*Large Column*/
.large {
  border: 1px solid red;      /*NOTE REMOVE BORDER*/
  width: 630px;
  flex: 1 1 630px;
}
/*Medium Column*/
.medium {
  border: 1px solid red;      /*NOTE REMOVE BORDER*/
  flex: 1 1 300px;
  width: 300px;
}
/*Small Column*/
.small {
  border: 1px solid red;      /*NOTE REMOVE BORDER*/
  flex: 1 1 240px;
  width: 240px;
}
/*Column Within Large Column Container*/
.sub-large-container {
  border: 1px solid red;      /*NOTE REMOVE BORDER*/
  display: flex;
}
/*Column Within Large Column*/
.sub-large {
  border: 1px solid red;      /*NOTE REMOVE BORDER*/
  flex: 1 1 300px;
}
