/*Header Heading*/
h1 {
  font-family: Verdana;
  font-size: 14px;
  color: MediumAquamarine;
  padding-left: 15px;
}
/*Header Navigation*/
.nav {
  display: inline-block;
  right: 8px;
}
/*Header Container*/
.header {
  position: fixed;
  margin: -9px 0 0 -9px;
  padding: 10px;
  align-items: center;
  display: flex;
  width: 100%;
  border: 1px solid black;
}
