/*Header Heading*/
h1 {
  font-family: Verdana;
  font-size: 14px;
  color: MediumAquamarine;
  padding-left: 15px;
}
/*Header Navigation*/
nav {
  display: inline-block;
  justify-content: space-around;
  padding-right: 50px;
}
/*Navigation Links*/
a {
  padding-left: 20px;
  color: black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
/*Main Story Title*/
h2 {
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-family: Georgia;
  font-size: 40px;
  color: white;
}
/*Numbered (with Images) Story Titles*/
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  font-size: 30px;
  text-align: center;
  color: white;
}
/*Text Story Titles*/
h4 {
  font-family: Georgia;
  font-size: 2em;
}
/*News Bites Title*/
h5 {
  display: flex;
  justify-content: center;
  font-family: Georgia;
  font-size: 16px;
  text-transform: uppercase;
}
/*Content*/
p {
  font-family: Georgia;
  font-size: 17px;
}
/*Footer*/
footer {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  align-items: center;
  margin: 100px 0 100px;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
}
/*Footer Title*/
footer h1 {
  font-family: Georgia;
  font-size: 16px;
  color: white;
}
/*Footer Links*/
footer nav {
  display: inline-flex;
  align-items: center;
}
footer a {
  font-weight: normal;
}
/*Copyright*/
footer p {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}
/*General div rule*/
div {
  overflow: hidden;
}
/*Header Container*/
.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  margin: -9px 0 0 -9px;
  padding: 10px;
  z-index: 50;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  background-color: white;
}
/*Header Logo*/
.headerlogo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
/*Header Offset*/
.headerspace {
  height: 82px;
}
/*Main Content Container*/
.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}
/*Content Columns*/
.column {
  flex-flow: column wrap;
}
/*Large Column*/
.large {
  width: 630px;
  flex: 2.625 1 630px;
  margin: 15px;
}
/*Medium Column*/
.medium {
  flex: 1.25 1 300px;
  width: 300px;
  margin: 15px;
}
/*Small Column*/
.small {
  flex: 1 1 240px;
  width: 240px;
  margin: 15px;
}
/*Column Within Large Column Container*/
.sub-large-container {
  display: flex;
}
/*Column Within Large Column*/
.sub-large {
  flex: 1 1 300px;
}
/*Main Story*/
.story-main-parent {
  position: relative;
  width: 100%;
  background-image: url("./images/img-story-main.png");        /*img res: 629x300 px*/
  background-size: cover;
}
.story-main-child {
  position: relative;
  padding-bottom: calc(100% * 300 / 629);
}
.story-main-child > h2 {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
/*Story 1*/
.story-1-parent {
  display: relative;
  width: 100%;
  background-image: url("./images/img-story-1.png");        /*img res: 299x300 px*/
  background-size: cover;
}
.story-1-child {
  position: relative;
  padding-bottom: calc(100% * 300 / 299);
}
.story-1-child > h3 {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
/*Story 2*/
.story-2-parent {
  display: relative;
  width: 100%;
  background-image: url("./images/img-story-2.png");        /*img res: 299x300 px*/
  background-size: cover;
}
.story-2-child {
  position: relative;
  padding-bottom: calc(100% * 300 / 299);
}
.story-2-child > h3 {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
/*Story 3*/
.story-3-parent {
  display: relative;
  width: 100%;
  background-image: url("./images/img-story-3.png");        /*img res: 299x300 px*/
  background-size: cover;
}
.story-3-child {
  position: relative;
  padding-bottom: calc(100% * 300 / 299);
}
.story-3-child > h3 {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
  /*News Bites Cookie Image*/
.img-news-bite {
  width: 100%;
}
/*News Bites List*/
.news-bite-link {
    list-style: none inside;
    padding-left: 0;
    font-family: Verdana;
    font-size: 12px;
    background-color: WhiteSmoke;
    color: DimGray;
}
/*News Bites List Items*/
.news-bite-link li {
  padding: 1em;
  border-bottom: 1px solid black;
}
/*Footer Background*/
.footer-background {
  display: block;
  background-color: MediumAquamarine;
}
/*Footer Contariner*/
.footer-container {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}
/*Footer Vertical Bar Special Character*/
.footer-vertical-bar {
  font-size: 20px;
  font-weight: 600;
}
